@font-face {
  font-family:brandon-grotesque;
  src:url(https://use.typekit.net/af/a96fa9/000000000000000077359de4/30/l?subset_id=2&fvd=n1&v=3) format("woff2"),
  url(https://use.typekit.net/af/a96fa9/000000000000000077359de4/30/d?subset_id=2&fvd=n1&v=3) format("woff"),
  url(https://use.typekit.net/af/a96fa9/000000000000000077359de4/30/a?subset_id=2&fvd=n1&v=3) format("opentype");
  font-weight:200;
  font-style:normal;
  font-stretch:normal;
  font-display:auto;
}

@font-face {
  font-family:europa;
  src:url(https://use.typekit.net/af/821a05/00000000000000007735a082/30/l?subset_id=2&fvd=n3&v=3) format("woff2"),
  url(https://use.typekit.net/af/821a05/00000000000000007735a082/30/d?subset_id=2&fvd=n3&v=3) format("woff"),
  url(https://use.typekit.net/af/821a05/00000000000000007735a082/30/a?subset_id=2&fvd=n3&v=3) format("opentype");
  font-weight:300;
  font-style:normal;
  font-stretch:normal;
  font-display:auto;
 }

.contenedor{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar{
  padding-left: 5px;
  padding-right: 5px;
  height: 70px;
  font-family: europa;
}

.navbar-brand{
  font-size: 30pt;
  font-weight: bold;
  font-family: brandon-grotesque;  
}

.footer {
  background-color: white;
  font-family: europa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  height: 50px;
  width: 100%;
}

.grid{
  margin-top: 20px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
}

.grid-item img {
  max-width: 100%;
  padding: 5px;
}

.grid-item:hover {
  filter: brightness(60%);
}

.grid-item a{
  cursor: zoom-in;
}

@media (max-width: 575px) {
  .navbar {
    padding-top: 25px;
  }
  .navbar-brand{ font-size: 17pt; }
  .grid-item {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .navbar {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .navbar-brand{ font-size: 20pt; }
  .grid-item { width: 50%; }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .navbar-brand{ font-size: 25pt; }
  .grid-item { width: 33.333%; }
  .navbar { padding-top: 18px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .navbar-brand{ font-size: 25pt; }
  .grid-item { width: 33.333%; }
}
@media (min-width: 1200px) {
  .navbar {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .navbar-brand{ font-size: 30pt; }
  .grid-item { width: 33.333%; }
}

#navbarSupportedContent{
  position: relative;
  z-index: 1000;
  background-color: rgb(255, 255, 255,0.95)
}

.detalle_foto{
  padding-top: 18px;
  font-family: europa;
  text-align: center;
}

.detalle_foto h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.img-responsive {
  max-width: 100vw;
  max-height: 100vh;
  margin: -80px -60px;
  padding: 80px 60px;
}

body .modal-dialog { /* Width */
  max-width: 100%;
  width: auto !important;
  display: inline-block;
  left: 50% !important;
  top: 50% !important;
  transform: translate(calc(-50% - 8px),calc(-50% - 28px)) !important;

}

.modal-backdrop { opacity:0.7 !important; }

.about{
  text-align: justify; 
  text-justify: inter-word;
  font-size: 10pt;
}