{% extends 'layout.html' %}
{% block content %}
<div style="padding: 10px; margin-top: 10px;">
    <img src="/public/portfolio/fotos/perfil.jpg" ALIGN="left" HSPACE="10" VSPACE="5" style="width: 100%; max-width: 450px; min-width: none; margin-left: -1px; margin-top: 6px;"/>
    <p style="text-align: justify; text-justify: inter-word;">
    Soy <span style="font-weight: bold;"> autodidacta en todo</span>. Desde pequeño me interese por la <span style="font-weight: bold;">informatica</span> y por pura curiosidad aprendi a programar en Basic y a desarrollar algunos sitios webs. 
    Luego en los primeros años de facultad aprendi los conceptos fundamentales de la <span style="font-weight: bold;">programacion</span> y el paradigma de la programacion orientada a objetos y pude llevarlo a cualquier lenguaje. Nunca dejo de aprender y estar al dia con las nuevas tecnologias y frameworks.
    Soy un usuario avanzado de windows y linux, y tambien desarrolle algunos proyectos personales de Arduino y Raspberry Pi aunque la electronica no es mi fuerte.<br>
    Ademas soy una persona <span style="font-weight: bold;">muy creativa</span>, por lo que me dedico un poco a la musica (soy compositor, toco guitarra, el bajo, canto), al dibujo y la pintura, 
    la fotografia y me gusta escribir. Y tuve una epoca abocado al diseño, por lo cual tambien tengo muy buen manejo de sus herramientas (Photoshop, Illustrator, etc. 
    incluso After Effects) y sus conceptos esteticos.<br>
    Trabaje muchos años como autonomo desarrollando sistemas de gestion y control de stock, asi como algunos sitios web simples hasta que di con mi trabajo actual. 
    Ahora estoy desarrollando sistemas de administracion de servidores en conjunto entre Python, Node.js y Vue.js y Oracle SQL. Y tambien ayudando en todo lo que se me solicite 
    dentro de mi sector (desde consultas SQL, realizacion de reportes en BIRT, servicio técnico, hasta la realizacion de un video institucional del tipo whiteboard).
    </p>
</div>
{% endblock %}